<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

        :root {
            --main-color: #272727;
            --secondary-color: #f9f9f9;
            --accent-color: #6cd4d2;
            --another-color: #3A506B;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Inter", sans-serif;
            text-decoration: none;
            list-style-type: none;
            border: none;
            outline: none;
            background: transparent;
            color: var(--main-color);
        }
    </style>
    <link rel="stylesheet" href="css/blog.css">
    <link rel="stylesheet" href="css/heading.css">
    <title>Document</title>
</head>

<body>
    <div class="blog-detail">
        <h1 class="heading">Lorem ipsum dolor sit amet.</h1>

        <div class="blog-content">
            <div class="blog-image">
                <img src="../design/assets/images/portfolio2.jpg" alt="">
            </div>
            <div class="blog-title">
                <h3>Lorem, ipsum dolor.</h3>
                <h5>08 August 2024</h5>
            </div>
            <div class="blog-profile">
                <img src="../design/assets/images/avatar.jpg" alt="">
                <p>username</p>
            </div>
            <div class="blog-views">
                <i class="fa-regular fa-eye"></i>
                1000 views
            </div>
            <div class="blog-description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure facilis nesciunt aliquam eveniet,
                    labore obcaecati omnis reprehenderit tempore repellat impedit. Aliquam explicabo, cum, ab
                    eveniet iure et repudiandae dolorem, porro totam id sit ipsam? Molestiae assumenda amet
                    officiis, nostrum obcaecati harum incidunt consequuntur eum dolorum animi modi cupiditate
                    repellendus quia quam vero error consequatur eos tempora sapiente officia hic. Sint rerum
                    repudiandae dolorum natus quisquam, quaerat facilis id laboriosam vitae? Repudiandae aut magni
                    eveniet, praesentium nobis blanditiis nesciunt laudantium optio! Quae inventore earum nobis
                    voluptatum itaque facilis assumenda ipsa. Voluptatum, voluptate! Ipsum eum pariatur saepe odio
                    ullam laudantium illum quia?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure facilis nesciunt aliquam eveniet,
                    labore obcaecati omnis reprehenderit tempore repellat impedit. Aliquam explicabo, cum, ab
                    eveniet iure et repudiandae dolorem, porro totam id sit ipsam? Molestiae assumenda amet
                    officiis, nostrum obcaecati harum incidunt consequuntur eum dolorum animi modi cupiditate
                    repellendus quia quam vero error consequatur eos tempora sapiente officia hic. Sint rerum
                    repudiandae dolorum natus quisquam, quaerat facilis id laboriosam vitae? Repudiandae aut magni
                    eveniet, praesentium nobis blanditiis nesciunt laudantium optio! Quae inventore earum nobis
                    voluptatum itaque facilis assumenda ipsa. Voluptatum, voluptate! Ipsum eum pariatur saepe odio
                    ullam laudantium illum quia?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure facilis nesciunt aliquam eveniet,
                    labore obcaecati omnis reprehenderit tempore repellat impedit. Aliquam explicabo, cum, ab
                    eveniet iure et repudiandae dolorem, porro totam id sit ipsam? Molestiae assumenda amet
                    officiis, nostrum obcaecati harum incidunt consequuntur eum dolorum animi modi cupiditate
                    repellendus quia quam vero error consequatur eos tempora sapiente officia hic. Sint rerum
                    repudiandae dolorum natus quisquam, quaerat facilis id laboriosam vitae? Repudiandae aut magni
                    eveniet, praesentium nobis blanditiis nesciunt laudantium optio! Quae inventore earum nobis
                    voluptatum itaque facilis assumenda ipsa. Voluptatum, voluptate! Ipsum eum pariatur saepe odio
                    ullam laudantium illum quia?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure facilis nesciunt aliquam eveniet,
                    labore obcaecati omnis reprehenderit tempore repellat impedit. Aliquam explicabo, cum, ab
                    eveniet iure et repudiandae dolorem, porro totam id sit ipsam? Molestiae assumenda amet
                    officiis, nostrum obcaecati harum incidunt consequuntur eum dolorum animi modi cupiditate
                    repellendus quia quam vero error consequatur eos tempora sapiente officia hic. Sint rerum
                    repudiandae dolorum natus quisquam, quaerat facilis id laboriosam vitae? Repudiandae aut magni
                    eveniet, praesentium nobis blanditiis nesciunt laudantium optio! Quae inventore earum nobis
                    voluptatum itaque facilis assumenda ipsa. Voluptatum, voluptate! Ipsum eum pariatur saepe odio
                    ullam laudantium illum quia?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure facilis nesciunt aliquam eveniet,
                    labore obcaecati omnis reprehenderit tempore repellat impedit. Aliquam explicabo, cum, ab
                    eveniet iure et repudiandae dolorem, porro totam id sit ipsam? Molestiae assumenda amet
                    officiis, nostrum obcaecati harum incidunt consequuntur eum dolorum animi modi cupiditate
                    repellendus quia quam vero error consequatur eos tempora sapiente officia hic. Sint rerum
                    repudiandae dolorum natus quisquam, quaerat facilis id laboriosam vitae? Repudiandae aut magni
                    eveniet, praesentium nobis blanditiis nesciunt laudantium optio! Quae inventore earum nobis
                    voluptatum itaque facilis assumenda ipsa. Voluptatum, voluptate! Ipsum eum pariatur saepe odio
                    ullam laudantium illum quia?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure facilis nesciunt aliquam eveniet,
                    labore obcaecati omnis reprehenderit tempore repellat impedit. Aliquam explicabo, cum, ab
                    eveniet iure et repudiandae dolorem, porro totam id sit ipsam? Molestiae assumenda amet
                    officiis, nostrum obcaecati harum incidunt consequuntur eum dolorum animi modi cupiditate
                    repellendus quia quam vero error consequatur eos tempora sapiente officia hic. Sint rerum
                    repudiandae dolorum natus quisquam, quaerat facilis id laboriosam vitae? Repudiandae aut magni
                    eveniet, praesentium nobis blanditiis nesciunt laudantium optio! Quae inventore earum nobis
                    voluptatum itaque facilis assumenda ipsa. Voluptatum, voluptate! Ipsum eum pariatur saepe odio
                    ullam laudantium illum quia?</p>
            </div>
            <div class="blog-tag">
                <a href="#">#lorem</a>
                <a href="#">#lorem</a>
                <a href="#">#lorem</a>
                <a href="#">#lorem</a>
            </div>
        </div>
    </div>
</body>

</html>