.category {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    width: 90%;
    max-width: 1000px;
    padding: 1em 0;
    margin: 2em auto 0;
}