@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --main-color: #272727;
    --secondary-color: #f4f4f7;
    --accent-color: #5BC0BE;
    --another-color: #3A506B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    list-style-type: none;
    border: none;
    outline: none;
    background: transparent;
    color: var(--main-color);
}

/* NAVBAR */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: var(--secondary-color);
}

nav .navigation {
    position: relative;
    max-width: 1440px;
    width: 100%;
    height: 100%;
}

nav .navigation .logo {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .navigation .logo a {
    display: flex;
    align-items: center;
    gap: 0 12px;
}

nav .navigation .logo a .title {
    font-size: 1.8em;
    font-weight: 600;
}

nav .navigation .link {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

nav .navigation .link ul {
    display: flex;
    gap: 0 8px;
}

nav .navigation .link ul li a {
    position: relative;
}

nav .navigation .link ul li a::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 105%;
    background: var(--main-color);
    height: 2px;
    width: 0%;
    transform: translateX(-50%);
    transition: all ease-in-out .3s;
}

nav .navigation .link ul li a:hover::before {
    width: 100%;
}

nav .navigation .auth {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .navigation .auth div {
    display: flex;
    gap: 0 10px;
}

nav .navigation .auth div button {
    border-radius: 12px;
    padding: 8px 12px;
    font-weight: 500;
    box-shadow: 1px 1px 9px var(--main-color);
    transition: all ease-in-out .3s;
}

nav .navigation .auth div button:hover {
    box-shadow: 1px 1px 3px var(--main-color);
}

nav .navigation .auth div button:nth-child(1) {
    background-color: var(--main-color);
    color: var(--secondary-color);
}

nav .navigation .auth div button:nth-child(2) {
    border: 2px solid var(--main-color);
}